Ouvrir avec [Basthon](https://notebook.basthon.fr/?kernel=sql&from=https://raw.githubusercontent.com/thfruchart/tnsi/main/03/SQL-MiseAJour.ipynb&module=https://raw.githubusercontent.com/thfruchart/tnsi/main/03/livres.sql)

### Bases de données : REQUÊTES de mise à jour

In [1]:
CREATE TABLE x(a  INTEGER PRIMARY KEY,
               b  INTEGER
);
CREATE TABLE y(c  INTEGER PRIMARY KEY,
               d  INTEGER
);
CREATE TABLE z(a  INTEGER,
               c  INTEGER ,
               e  INTEGER,
               FOREIGN KEY(a) REFERENCES x(a),
               FOREIGN KEY(c) REFERENCES y(c)
);

INSERT INTO x VALUES (1,1), (2,2), (3,2), (4,2), (5,1), (6,9), (7,1);
INSERT INTO y VALUES (9,9), (10,10), (11,9), (12,20), (13,30), (14,9), (15,1), (16,10), (17,10);
INSERT INTO z VALUES (1,11,30), (2,14,9),(5,15,1), (7,17,3), (1,10,50), (2,9,8), (2,15,15), (3,17,19), (4,16,12), (5,10,20), (2,11,30), (7,14,9), (7,9,12);